<div id="main-container">
  <div id="cook-container">
    <% if @recipe %>
    	<%= render 'directions' %>
    <% else %>
    	<h3>Find a recipe to cook</h3>
    	<%= form_tag '/recipes/search', method: :get, remote: true do %>
    		<%= text_field_tag :name, params[:name], class: "recipe-autocomplete" %>
    		<%= submit_tag "search" %>
    	<% end %>	
    <% end %>
  </div>
  <div id="buttons">
    <button id="start">Cook now</button>
    <button id="stop">Stop</button>
    <button id="pause-resume">Pause</button>
  </div>
</div>

<script>
  <% unless @recipe %>
	  var availableTags = <%= @all_recipes.inspect.html_safe %>;
	    $( ".recipe-autocomplete" ).autocomplete({
	      source: availableTags
	  });
  <% end %>
</script>
