<div id="main-container">
  <div id="cook-container">
    <% if @recipe %>
    	<%= render 'directions' %>
    <% else %>
    	<h3>Find a recipe to cook</h3>
    	<%= form_tag '/recipes/search', method: :get, class: "form-inline" do %>
    		<%= text_field_tag :name, params[:name], class: "recipe-autocomplete form-control" %>
    		<%= submit_tag "search", class: "btn btn-secondary" %>
    	<% end %>	
    <% end %>
  </div>
  <div id="buttons">
    <button id="start" class= "btn btn-secondary" >Cook now</button>
    <button id="stop" class= "btn btn-secondary">Stop</button>
    <button id="pause-resume" class= "btn btn-secondary">Pause</button>
    <button id="repeat" class= "btn btn-secondary">Repeat this step</button>
  </div>
</div>

<script>
  <% unless @recipe %>
	  var availableTags = <%= @all_recipes.inspect.html_safe %>;
	    $( ".recipe-autocomplete" ).autocomplete({
	      source: availableTags
	  });

    $('#buttons').toggle();
  <% end %>
</script>
