<div id="wrapper_groceries">
	<div id="to_left">
		<%= link_to 'Find nearest supermarkets', maps_path %>
	</div>
	<div id="grocery-list">
		<h1>Groceries List</h1><br/>

		<%= form_for [@user, @grocery] do |f| %>

			<%= f.label "Ingredient" %>
			<%= text_field_tag :ingredient_name, params[:ingredient_name], class: "ingredient-autocomplete" %>

			<%= f.submit "Add" %>

		<% end %>
		<h3>Groceries to buy </h3>
		<div class="list" id="unchecked-list">
			<ul>
				<% @unchecked_groceries.each do |x| %>
					<%= form_tag "/users/#{current_user.id}/groceries/#{x.id}", method: :patch, class: "edit_list" do %>
						<%= check_box_tag(:unchecked, "true") %>
						<%= submit_tag "Update" %>
						<%= label_tag(:unchecked, x.ingredient.name) %> 
						<%= link_to "(remove)",user_grocery_path(:id => x.id), method: :delete %>
					<% end %>
				<% end %>
				<%= button_to "Clear Unchecked", clear_unchecked_path(current_user), method: :delete, class: "btn btn-warning" %>
			</ul>
		</div>	


		<h3> Checked </h3>
		<div class="list" id="checked-list">
			<ul>
				<% @checked_groceries.each do |y| %>
					<%= form_tag "/users/#{current_user.id}/groceries/#{y.id}", method: :patch, class: "edit_list" do %>
						<%= check_box_tag(:checked, "false", true) %>
						<%= submit_tag("Update") %>
						<%= label_tag(:checked, y.ingredient.name ) %>
						<%= link_to "(remove)",user_grocery_path(:id => y.id), method: :delete %>
					<% end %>
				<% end %>
				<%= button_to "Clear Checked", clear_checked_path(current_user), method: :delete, class: "btn btn-warning" %>
			</ul>


		</div>
	</div>
	<div id="to_right">
		<%= link_to 'Shop online', online_path %>
	</div>
</div>

<script>
  $( function() {
    var availableTags = <%= @all_ingredients.inspect.html_safe %>;
    $( ".ingredient-autocomplete" ).autocomplete({
      source: availableTags
    });
  } );
</script>