<div id="wrapper_planner">
	<div id="planner">
		<h1>Plan your meal for a week</h1>
		<div id="planner-table">
		<% @days.each do |day| %>
			<div class="planner-cell">
			<%= day.strftime('%a %d/%m') %><br/>
			<%= form_for @plan, html: {class: "form-inline" }, remote: true do |f| %>
				<%= text_field_tag :recipe_name, params[:recipe_name], class: "recipe-autocomplete form-control" %>
				<%= f.hidden_field :date, value: day %>
				<%= f.submit "+", class: "btn btn-secondary" %>
			<% end %>
			<% if @plans.any? %>
				<% @plans.where(date: day).each do |plan| %>
					<div class="planner-plan">
						<a href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true"><div><%= plan.recipe.name %></div>
						<div class="hidden">
							<% plan.recipe.ingredients.each do |ing| %>
								<div><%= ing.name %></div>
							<% end %>
						</div>
						</a>
						<%= button_to "Add to grocery list", "/plans/#{plan.id}/create_groceries", method: :post, class: "btn btn-success" %>
						<%= button_to "Delete", plan_path(plan), method: :delete, remote: true, class: "btn btn-danger" %>
					</div>
				<% end %>
			<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>

<script>
  $( function() {
    var availableTags = <%= @all_recipes.inspect.html_safe %>;
    $( ".recipe-autocomplete" ).autocomplete({
      source: availableTags
    });	
		
		$('[data-toggle="popover"]').popover({
        placement : 'top',
        html : true,
        content : function() {
        	return $(this).children('.hidden')[0].innerHTML;
        }
    });

  } );
</script>