<div id="wrapper_planner">
	<div id="planner">
		<h1>Plan your meal for a week</h1>

		<table id="outer">
		  <tr>
		  	<% @days.each do |day| %>
		  		<td>
		  			<table id="inner">
		  				<tr>
		  				<td>
		  					<%= day.strftime('%a %d/%m') %><br/>
		  				</td>
		  				</tr>
		  				<tr><td>
								<%= form_for @plan, html: {class: "form-inline" } do |f| %>
									<%= text_field_tag :recipe_name, params[:recipe_name], class: "recipe-autocomplete form-control" %>
									<%= f.hidden_field :date, value: day %>
									<%= f.submit "+", class: "btn btn-secondary" %>
								<% end %>
								</td></tr>
									<% if @plans.any? %>
									<% @plans.where(date: day).each do |plan| %>
									<tr><td>
										<%= plan.recipe.name %>
										<%= button_to "Delete", plan_path(plan), method: :delete, class: "btn btn-danger" %>
									</td></tr>
									<% end %>
								<% end %>
						</table>
		  		</td>
		  		<td class="empty">
		  			.
		  		</td>
		  	<% end %>
		  </tr>
		</table>
	</div>
</div>



<script>
  $( function() {
    var availableTags = <%= @all_recipes.inspect.html_safe %>;
    $( ".recipe-autocomplete" ).autocomplete({
      source: availableTags
    });
  } );
</script>